html,
body {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(224, 151, 78);
    color: white;
    padding: 25px;
    /* margin: 50px; */
}

/* Author */

.author {
    font-size: 90px;
    color: rgb(239, 224, 128);
}

.author:hover {
    cursor: move;
}

.section-title {
    font-size: 60px;
    color: rgb(38, 248, 38);
}

/* Projects Section */

.projects {
    display: grid;

    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(2, 300px 1fr);
}

.project {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 180, 193);
    padding-left: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.project-title {
    font-size: 30px;
    color: rgb(62, 62, 232);
}

.project p {
    font-size: 20px;
}

.project a {
    color: rgb(229, 63, 152);
    font-weight: bold;
    text-decoration: none;
}

.project a:hover {
    font-weight: normal;
    border-bottom: 5px dotted rgb(255, 255, 0);
}
